body {
    background-image: linear-gradient(to right, #000000, #353535);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario_container {
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid transparent;
    border-color: #ffffff;
    padding: 20px;
    background-image: linear-gradient(to left, #555555, #353535);
}

.formulario_titulo {
    color: white;
    text-align: center;
}

.container_input, .container_file, .container_radio, .container_submit {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.formulario_input {
    width: 100%;
    padding: 8px;
    font-size: 15px;
}

textarea {
    height: 100px;
    width: 100%;
    font-size: 15px;
    resize: none;
}

.formulario_file {
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
}

button.formulario_submit {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #555555;
    color: white;
    border: none;
    cursor: pointer;
}

button.formulario_submit:hover {
    background-color: #353535;
}

#arquivoOutput, #imagemOutput, #logoOutput {
    margin-top: 10px;
    color: white;
}

#imagemOutput img, #logoOutput img {
    display: inline-block;
    margin-right: 10px;
}
