
@import 
url('https://fonts.cdnfonts.com/css/motiva-sans');

body{
    background-color: #1d1d25;
    background-attachment: fixed;
    font-family: 'Motiva Sans', sans-serif;                         
}

.cad{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario_titulo{
    font-family: 'Motiva Sans', sans-serif;
}

.formulario_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 50%;
    gap: 1rem;
    background-color: #21212d;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
}

.container_submit{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.formulario_submit{
    background-color: #e4a700;
    text-align: center;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
    color: #fff;
    font-family: 'Motiva Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    
}

.container_input{
    display: flex;
    flex-direction: column;
    font-family: 'Motiva Sans', sans-serif;
        text-align: justify;
    gap: 0.25rem;
    width: 80%;
}

.formulario_input{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}