body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:	#1d1d25;
    font-family: 'Motiva Sans', sans-serif;
}

.pos{
  margin-top: 100px;
  width: 500px;
  justify-content: center;
  align-items: center;
  color: white;
}

h2{ 
  color: white;
  width: 500px;
  }