body{
    justify-content: center;
    display: flex;
    background-color: #1d1d25;
    color: #fff;
    font-family: 'Motiva Sans', sans-serif;
}

     

.box{
    width: 80%;
    min-height: 100vh;


}

.imgusuario{
    width: 18%;
    min-height: 20vh;
}

.fotouser{
    max-height: 29vh;
    width: 100%;
}


.nome{
    height: 10vh;
    width: 50%;
    font-size: 80px;
    margin-right: 0;
    
}

.usuario{
    padding-top: 100px;

}

.nome, .imgusuario{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 30px;
}

.tabs{
    margin-top: 150px;
    width: 60%;
    min-height: 30vh;

}

.tablinks{
    width: 20%;
    height: 5vh;
    cursor: pointer;
    border: none;
    background-color: rgb(167, 160, 62);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;

}

.conteudo{
    height: 20vh;
    margin-top: 60px;
}

.upload_bottun{
    height: 4vh;
    cursor: pointer;
    margin-top: 50px;

}

.upload{
    width: 30%;
    height: 4vh;
    border: none;
    cursor: pointer;
    font-size: large;
    border-radius: 10px;
    background-color: #e4a700;;
    color: #fff;
}
  
.tablinks:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
.tablinks:hover {
    background-color: #25597c;
  }

h3{
    font-size: 20px;
    color: #807e7e;
}

.conquistas{
    max-height: 29vh;
    width: 100%;

}

.div-achi{
    width: 18%;
    min-height: 20vh;

}

.div-achi, .achiv{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 30px;
}

p{
    font-size: larger;

}