body{
  display: flex;
  background-color:	#16161d;
  overflow: auto;
  /* background-image: linear-gradient(to top left, #262626, #161515); */
}


.comentar{
  height: 24px;
  border-radius: 10px;
  border-style: none;
  width: 240px;
}

.comen{
  margin-left: 1%;
  margin-top: 1%;
}

.combtn{
  background-color: #ff8800;
  height: 24px;
  border-radius: 10px;
  border-style: none;
  width: 100px;
  color: white;
  
}


h1{
  margin-left: 10%;
  margin-top: 15%;
  color: white;
}


h2{
  margin-left: 10%;
  margin-top: 15%;
  color: white;
}

.ffvgf{
  margin-top: 20%;
  margin-left: -13.2%;
  width: 45%;
  height: 80vh;
}

.carousel-item img{
  width: 45%;
  height: 80vh;
}

.subimg{
  margin-top: 20%;
  margin-left: 2.5%;
  width: 30%;
  height: 20%;
}

p{
  color: white;
}

label{
  color: white;
  margin-left: 5%;
}

.preco{
  background-color: rgb(35, 123, 255);
  width: 90px;
  min-width: 75px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.inf{
  margin-top: 3%;
}


.genero{
  
  width: 130px;
  min-width: 130px;
  height: 50%;
  margin-top: 60%;
  margin-left: -77.5%;
  border-left: 1px solid #ccc;
}


.gen1{
  color: #808080;
  margin-left: 3%;
}

.gen{
  margin-top: -20px;
  margin-left: 3%;
  
}


.descri{
  margin-top: 65%;
  margin-left: -77.5%;
  margin-bottom: 10%;
  width: 45%;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
}

.pos{margin-left: 1%;}

.botao{
  margin-top: 55%;
  margin-left: 2.5%;
  width: 30%;
  height: 20%;
  
}

.stl-botao{
  background-color: #ff8800;
  color: white;
  border-style: none;
  border-radius: 5px;
  
  cursor: pointer;
  width: 250px;
  height: 50px;
}

.comentarios{
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow-y: auto;
  margin-top: 51%;
  margin-left: 40.7%;
  width: 30%;
  height: 200px;
  background-color:#33333f;
  color: white;
  
  
}

.comentario{
  font-size: small;
  color: rgb(151, 151, 151);
}

.com{
  border-bottom: 1px solid #ccc;
  max-width: 515px;
  margin-left: 1%;
  margin-top: 1%;
  
}

.perf{
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

#precoJogo {
  margin-right: 5px; /* Ajusta a margem à direita */
  padding-top: 0px;
}
