body{
    background-image: linear-gradient(
        to right, rgb(12, 12, 12), orange
    );
}

.cim{
    background-color: none;
    height: 45px;
    border: solid;
    border-width: 1px;
}



.cim2{
    padding-left: 70%;
}

.tela{
    border-right: none;
    border-width: 1px;
    padding-left: 15%;
    padding-top: 10%;
    height: 79vh;
    width: 40%;
 
}

.cad{

    flex-direction: row;
    height: 70%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
  
    
}

.for{
    color: white;
}

.textspace{
    height: 3.5vh;
    width: 80%;
    font-size: 15px
}

label{
    font-size: 18px;
    color: white;
}

.label2{
    font-size: 12px;
}

button{
    width: 40%;
    height: 3.5vh;
    font-size: 18px
}

